<div class="page-container">
    <div class="header-flex">
        <h1>Explore All Properties</h1>
    </div>

    <div class="controls-container">
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search by address, city, or ZIP code">
        </div>
        <button class="btn-filter">
            Filter <i class="fa-solid fa-sliders"></i>
        </button>
    </div>

    <h2>All Available Listings</h2>

    <p *ngIf="isLoading">Loading properties...</p>

    <div class="property-list" *ngIf="!isLoading && properties.length > 0">
        <div class="listing-card" *ngFor="let prop of properties" [routerLink]="['/properties/view', prop.id]">
            <div class="listing-info">
                <span class="location"><i class="fa-solid fa-location-dot"></i> {{ prop.location }}</span>
                <h3>{{ prop.title }}</h3>
                <p class="details">{{ prop.rooms }} Rooms • {{ prop.address }}</p>
                <div class="price-badge">RM {{ prop.price | number:'1.2-2' }}/month</div>
            </div>
            
            <div class="listing-image">
                <img [src]="'http://localhost:8000/uploads/' + prop.thumbnail" alt="Property Image">
            </div>
        </div>
    </div>
</div>